<?xml version="1.0" encoding="utf-8"?>
<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VisualizzaBiglietti.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>  
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <VisualizzaBiglietti.My.MySettings>
      <setting name="Biglieto" serializeAs="String">
        <value>&lt;div&gt;
            &lt;p style="text-align:center"&gt;
              @@NUMBIGLIETTO@@
            &lt;/p&gt;
            &lt;div style="align-items:center" id="@@QRID@@"&gt;&lt;/div&gt;
                &lt;script type="text/javascript"&gt;
                new QRCode(document.getElementById("@@QRID@@"), "@@QRCODE@@");
                &lt;/script&gt;
            &lt;br /&gt;
            &lt;p&gt; 
              
                &lt;table style="width: 100%;"&gt;
 &lt;tr&gt;
                        &lt;td&gt;Tit &lt;/td&gt;
                        &lt;td&gt;&lt;b&gt;@@TITOLARE@@&lt;/b&gt;&lt;/td&gt;
                        
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td&gt;Org &lt;/td&gt;
                        &lt;td&gt;&lt;b&gt;@@ORGANIZZATORE@@&lt;/b&gt;&lt;/td&gt;
                        
                    &lt;/tr&gt;
                  &lt;tr&gt;
                        &lt;td&gt;Evento &lt;/td&gt;
                        &lt;td&gt;&lt;b&gt;@@EVENTO@@&lt;/b&gt;&lt;/td&gt;
                        
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td&gt;Data &lt;/td&gt;
                        &lt;td&gt;&lt;b&gt;@@DATA@@&lt;/b&gt;&lt;/td&gt;
                        
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td&gt;Fila e Posto&lt;/td&gt;
                        &lt;td&gt;&lt;b&gt;@@DOVE@@&lt;/b&gt;&lt;/td&gt;
                        
                    &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;td&gt; Tipo &lt;/td&gt;
                        &lt;td&gt;&lt;b&gt;@@TIPO@@&lt;/b&gt;&lt;/td&gt;
                        
                    &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;td&gt; Descrizione &lt;/td&gt;
                        &lt;td&gt;&lt;b&gt;@@DESC@@&lt;/b&gt;&lt;/td&gt;
                        
                    &lt;/tr&gt;


                    &lt;tr&gt;
                        &lt;td&gt; Prezzo &lt;/td&gt;
                        &lt;td&gt;&lt;b&gt;@@PREZZO@@&lt;/b&gt;&lt;/td&gt;
                        
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td&gt;Prevendita &lt;/td&gt;
                        &lt;td&gt;&lt;b&gt;@@PREVENDITA@@&lt;/b&gt;&lt;/td&gt;
                       
                    &lt;/tr&gt;
                     &lt;tr&gt;
                        &lt;td&gt;Totale&lt;/td&gt;
                        &lt;td&gt;&lt;b&gt;@@TOTALE@@&lt;/b&gt;&lt;/td&gt;
                        
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td&gt;SCN&lt;/td&gt;
                        &lt;td&gt;&lt;b&gt;@@SCN@@&lt;/b&gt;&lt;/td&gt;
                        
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td&gt;SCP&lt;/td&gt;
                        &lt;td&gt;&lt;b&gt;@@SCP@@&lt;/b&gt;&lt;/td&gt;
                       
                    &lt;/tr&gt;
                     &lt;tr&gt;
                        &lt;td&gt;SCMAC&lt;/td&gt;
                        &lt;td&gt;&lt;b&gt;@@SCMAC@@&lt;/b&gt;&lt;/td&gt;
                       
                    &lt;/tr&gt;
 &lt;tr&gt;
                        &lt;td&gt;Data e Ora emisione&lt;/td&gt;
                        &lt;td&gt;&lt;b&gt;@@DATAE@@&lt;/b&gt;&lt;/td&gt;
                       
                    &lt;/tr&gt;
 &lt;tr&gt;
                        &lt;td&gt;Sistema fiscale&lt;/td&gt;
                        &lt;td&gt;&lt;b&gt;@@FISC@@&lt;/b&gt;&lt;/td&gt;
                       
                    &lt;/tr&gt;

                &lt;/table&gt;
            &lt;/p&gt;
                
            &lt;/div&gt;
&lt;hr/&gt;</value>
      </setting>
    </VisualizzaBiglietti.My.MySettings>
  </applicationSettings>
</configuration>